In [1]:
import pandas as pd

In [12]:
poverty_df = pd.read_csv("../transformed_data/Poverty_rate_updated- 2012-2021.csv", sep=";")
poverty_df.head()

,Estado,Código_UF,UF,Código_IBGE,Região,2021,"Menos_de_US$_5,5_%_2021",2020,"Menos_de_US$_5,5_%_2020",2019,...,2016,"Menos_de_US$_5,5_%_2016",2015,"Menos_de_US$_5,5_%_2015",2014,"Menos_de_US$_5,5_%_2014",2013,"Menos_de_US$_5,5_%_2013",2012,"Menos_de_US$_5,5_%_2012"
0,Rondônia,11,RO,1100015,Norte,1804543,"31,01",1785821000,"19,7","1766528,84",...,"1707229,36","31,23","1687511,45","28,92",1667748,"26,03","1647435,54","29,5","1627700,76","31,61"
1,Acre,12,AC,1200013,Norte,"889723,6","46,91",877688000,"40,09",865422,...,"828222,31","49,05","816053,08","44,95","802573,22","44,62","789861,42","45,34","776990,97","47,72"
2,Amazonas,13,AM,1300029,Norte,"4102887,3","50,76",4043094802,"44,52","3982728,09",...,"3797253,19","51,69","3735648,12","44,59","3667672,79","43,01","3601162,24","44,61","3537272,62","45,92"
3,Roraima,14,RR,1400027,Norte,"581941,97","46,2","562262429,6","39,63","539599,07",...,"467850,18","32,23","456109,29","31,11","445352,75","30,01","436292,22","34,94","426516,32","33,7"
4,Pará,15,PA,1500107,Norte,"8733604,19","46,6",8643835405,"36,98","8557911,18",...,"8289782,18","47,54","8197330,08","44,67","8099278,44","41,89","8002451,71","45,26","7910095,3","45,85"

In [13]:
poverty_df = poverty_df.drop(columns=["Código_IBGE", "2021", "2020", "2019", "2018", "2017", "2016", "2015", "2014", "2013", "2012"])
poverty_df.head()

,Estado,Código_UF,UF,Região,"Menos_de_US$_5,5_%_2021","Menos_de_US$_5,5_%_2020","Menos_de_US$_5,5_%_2019","Menos_de_US$_5,5_%_2018","Menos_de_US$_5,5_%_2017","Menos_de_US$_5,5_%_2016","Menos_de_US$_5,5_%_2015","Menos_de_US$_5,5_%_2014","Menos_de_US$_5,5_%_2013","Menos_de_US$_5,5_%_2012"
0,Rondônia,11,RO,Norte,"31,01","19,7","24,22","26,66","26,99","31,23","28,92","26,03","29,5","31,61"
1,Acre,12,AC,Norte,"46,91","40,09","44,66","42,83","48,24","49,05","44,95","44,62","45,34","47,72"
2,Amazonas,13,AM,Norte,"50,76","44,52",49,"47,2","48,95","51,69","44,59","43,01","44,61","45,92"
3,Roraima,14,RR,Norte,"46,2","39,63","40,4","33,54","35,55","32,23","31,11","30,01","34,94","33,7"
4,Pará,15,PA,Norte,"46,6","36,98","45,77","45,63","46,17","47,54","44,67","41,89","45,26","45,85"

In [14]:
# Raname columns
poverty_df = poverty_df.rename(columns={
    'Menos_de_US$_5,5_%_2021': '2021',
    'Menos_de_US$_5,5_%_2020': '2020',
    'Menos_de_US$_5,5_%_2019': '2019',
    'Menos_de_US$_5,5_%_2018': '2018',
    'Menos_de_US$_5,5_%_2017': '2017',
    'Menos_de_US$_5,5_%_2016': '2016',
    'Menos_de_US$_5,5_%_2015': '2015',
    'Menos_de_US$_5,5_%_2014': '2014',
    'Menos_de_US$_5,5_%_2013': '2013',
    'Menos_de_US$_5,5_%_2012': '2012',
})
poverty_df

,Estado,Código_UF,UF,Região,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012
0,Rondônia,11,RO,Norte,"31,01","19,7","24,22","26,66","26,99","31,23","28,92","26,03","29,5","31,61"
1,Acre,12,AC,Norte,"46,91","40,09","44,66","42,83","48,24","49,05","44,95","44,62","45,34","47,72"
2,Amazonas,13,AM,Norte,"50,76","44,52",49,"47,2","48,95","51,69","44,59","43,01","44,61","45,92"
3,Roraima,14,RR,Norte,"46,2","39,63","40,4","33,54","35,55","32,23","31,11","30,01","34,94","33,7"
4,Pará,15,PA,Norte,"46,6","36,98","45,77","45,63","46,17","47,54","44,67","41,89","45,26","45,85"
5,Amapá,16,AP,Norte,"47,25","41,11","44,16","47,25","48,47","44,13","41,4","39,12","36,66","43,15"
6,Tocantins,17,TO,Norte,"33,11","30,19","34,17","32,93","33,47","35,18","35,02","33,17","37,45","39,51"
7,Maranhão,21,MA,Nordeste,"57,46","48,33","53,97","54,76","54,74","54,17","52,88","52,4","54,52","55,92"
8,Piauí,22,PI,Nordeste,"44,65","38,44","45,18","43,86","46,31","45,46","39,72","41,59","42,97","46,35"
9,Ceará,23,CE,Nordeste,"46,8","40,57","43,09","44,17","45,62","46,78","45,21","44,31","45,11","49,15"
10,Rio Grande do Norte,24,RN,Nordeste,"43,19","34,22","39,64","39,72","39,69","38,14","35,34","37,68","39,21","41,48"
11,Paraíba,25,PB,Nordeste,"47,41","41,26","43,51","41,99","41,27","43,74","38,78","41,02","44,32","46,15"
12,Pernambuco,26,PE,Nordeste,"50,98","42,19","43,53","42,55","43,31","43,57","40,66",38,"41,87","46,11"
13,Alagoas,27,AL,Nordeste,"51,67","43,89","49,06","50,26","50,81","49,58","50,37","47,93","51,34","50,26"
14,Sergipe,28,SE,Nordeste,"47,66","35,83","44,71","45,69","43,31","42,46","40,6","39,18","43,48","44,93"
15,Bahia,29,BA,Nordeste,"46,48","37,52","42,04","44,7","45,63","43,93","39,92","38,79","42,58","46,02"
16,Minas Gerais,31,MG,Sudeste,"23,74","17,06","19,57",21,"20,8","21,68","19,19","19,15","21,31","23,17"
17,Espírito Santo,32,ES,Sudeste,"26,29","18,66","20,16","21,85","22,3","23,71","22,18","20,27","21,85","21,39"
18,Rio de Janeiro,33,RJ,Sudeste,"23,56","20,72","20,07","19,41","20,23","20,35","17,65","16,71","18,84","20,44"
19,São Paulo,35,SP,Sudeste,"17,48","14,32","14,01","14,22","15,74","13,25","12,37","11,02","12,14","12,42"
20,Paraná,41,PR,Sul,"17,27","14,9","14,63","14,54","14,99",15,"13,48","11,66","13,75","15,09"
21,Santa Catarina,42,SC,Sul,"10,49","8,52",8,"8,45","8,91","10,03","8,57","7,98","9,12","10,39"
22,Rio Grande do Sul,43,RS,Sul,"13,55","11,97","11,99","14,1","12,94","12,85","11,5","11,88","12,13","14,2"
23,Mato Grosso do Sul,50,MS,Centro Oeste,"22,42","16,38",16,"17,27","18,59","17,6","17,86","16,89","18,31","18,8"
24,Mato Grosso,51,MT,Centro Oeste,"20,59","17,16","15,55","15,99","18,2","19,08","16,69","16,96","16,49","19,05"
25,Goiás,52,GO,Centro Oeste,"22,35","18,05","18,13","19,2","17,94","19,27","16,67","15,77","15,19","19,36"
26,Distrito Federal,53,DF,Centro Oeste,"15,09","12,38","11,82","13,7","15,22","15,16","13,58","13,75","13,75","15,16"

In [15]:
# Generating the list of years using list comprehension
years = [str(year) for year in range(2012, 2022)]

# Melting the DataFrame
melted_df = pd.melt(poverty_df, id_vars=["Estado", "Código_UF", "UF"], value_vars=years, var_name='Ano', value_name='Poverty_Rate')


# Sorting the DataFrame
melted_df = melted_df.sort_values(by=["Estado", "Código_UF", "UF","Ano"]).reset_index(drop=True)

melted_df

        Estado  Código_UF  UF   Ano Poverty_Rate
0         Acre         12  AC  2012        47,72
1         Acre         12  AC  2013        45,34
2         Acre         12  AC  2014        44,62
3         Acre         12  AC  2015        44,95
4         Acre         12  AC  2016        49,05
..         ...        ...  ..   ...          ...
265  Tocantins         17  TO  2017        33,47
266  Tocantins         17  TO  2018        32,93
267  Tocantins         17  TO  2019        34,17
268  Tocantins         17  TO  2020        30,19
269  Tocantins         17  TO  2021        33,11

[270 rows x 5 columns]

In [17]:
melted_df['Poverty_Rate'] = melted_df['Poverty_Rate'].str.replace(',', '.', regex=True).astype(float)
melted_df

        Estado  Código_UF  UF   Ano  Poverty_Rate
0         Acre         12  AC  2012         47.72
1         Acre         12  AC  2013         45.34
2         Acre         12  AC  2014         44.62
3         Acre         12  AC  2015         44.95
4         Acre         12  AC  2016         49.05
..         ...        ...  ..   ...           ...
265  Tocantins         17  TO  2017         33.47
266  Tocantins         17  TO  2018         32.93
267  Tocantins         17  TO  2019         34.17
268  Tocantins         17  TO  2020         30.19
269  Tocantins         17  TO  2021         33.11

[270 rows x 5 columns]

In [18]:
file_path = "../transformed_data/poverty_data.csv"
melted_df.to_csv(file_path, index=False)