In [1]:
import pandas as pd

In [2]:
malnutrition_df = pd.read_csv("../../../transformed_data/socio_economic/desnutrição/updated_desnutricao.csv", sep=";")
malnutrition_df.head()

,Ano,Região,Código UF,UF,Código_IBGE,Municipio,Magreza Acentuada,Magreza Acentuada %,Magreza,Magreza %,Eutrofia,Eutofia %,Sobrepeso,Soprepeso %,Obesidade,Obesidade %,Obesidade Grave,Obesidade Grave %,Total
0,2008,CENTRO-OESTE,53,DF,5300108,BRASILIA,107.0,1.69%,229.0,3.62%,4.9,77.56%,818.0,12.95%,210.0,3.32%,54.0,0.85%,6.318
1,2008,CENTRO-OESTE,52,GO,5200050,ABADIA DE GOIAS,2.0,2.33%,5.0,5.81%,60.0,69.77%,13.0,15.12%,6.0,6.98%,0.0,-,86.000
2,2008,CENTRO-OESTE,52,GO,5200100,ABADIANIA,4.0,1.15%,10.0,2.87%,268.0,76.79%,47.0,13.47%,19.0,5.44%,1.0,0.29%,349.000
3,2008,CENTRO-OESTE,52,GO,5200134,ACREUNA,0.0,-,1.0,0.97%,81.0,78.64%,15.0,14.56%,6.0,5.83%,0.0,-,103.000
4,2008,CENTRO-OESTE,52,GO,5200159,ADELANDIA,0.0,-,1.0,1.23%,70.0,86.42%,7.0,8.64%,3.0,3.7%,0.0,-,81.000

In [3]:
malnutrition_df = malnutrition_df.drop(columns=["Magreza Acentuada", "Magreza", "Eutrofia","Eutofia %","Sobrepeso","Soprepeso %","Obesidade","Obesidade %","Obesidade Grave","Obesidade Grave %","Total"])

In [4]:
malnutrition_df

,Ano,Região,Código UF,UF,Código_IBGE,Municipio,Magreza Acentuada %,Magreza %
0,2008,CENTRO-OESTE,53,DF,5300108,BRASILIA,1.69%,3.62%
1,2008,CENTRO-OESTE,52,GO,5200050,ABADIA DE GOIAS,2.33%,5.81%
2,2008,CENTRO-OESTE,52,GO,5200100,ABADIANIA,1.15%,2.87%
3,2008,CENTRO-OESTE,52,GO,5200134,ACREUNA,-,0.97%
4,2008,CENTRO-OESTE,52,GO,5200159,ADELANDIA,-,1.23%
...,...,...,...,...,...,...,...,...
89115,2023,SUL,42,SC,4219408,WITMARSUM,0.52%,1.04%
89116,2023,SUL,42,SC,4219507,XANXERE,0.41%,1.49%
89117,2023,SUL,42,SC,4219606,XAVANTINA,-,0.78%
89118,2023,SUL,42,SC,4219705,XAXIM,0.61%,2.05%
89119,2023,SUL,42,SC,4219853,ZORTEA,0.34%,4.42%

In [5]:
malnutrition_df['Magreza Acentuada %']  = malnutrition_df['Magreza Acentuada %'] .replace('-', '0%')
malnutrition_df['Magreza %']  = malnutrition_df['Magreza %'] .replace('-', '0%')

malnutrition_df['Magreza Acentuada %'] = malnutrition_df['Magreza Acentuada %'].str.rstrip('%').astype(float)
malnutrition_df['Magreza %'] = malnutrition_df['Magreza %'].str.rstrip('%').astype(float)

malnutrition_df["Magreza_total_%"] = malnutrition_df['Magreza Acentuada %'] + malnutrition_df['Magreza %']

In [6]:
malnutrition_df = malnutrition_df.drop(columns=["Magreza Acentuada %", "Magreza %", "Região", "Código UF", "UF", "Municipio"])

In [7]:
malnutrition_df

        Ano  Código_IBGE  Magreza_total_%
0      2008      5300108             5.31
1      2008      5200050             8.14
2      2008      5200100             4.02
3      2008      5200134             0.97
4      2008      5200159             1.23
...     ...          ...              ...
89115  2023      4219408             1.56
89116  2023      4219507             1.90
89117  2023      4219606             0.78
89118  2023      4219705             2.66
89119  2023      4219853             4.76

[89120 rows x 3 columns]

In [9]:
file_path = "../../../transformed_data/socio_economic/desnutrição/malnutrition_per_municipality_ML.csv"
malnutrition_df.to_csv(file_path, index=False)

In [11]:
pd.read_csv(file_path).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89120 entries, 0 to 89119
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Ano              89120 non-null  int64
 1   Código_IBGE      89120 non-null  int64
 2   Magreza_total_%  89120 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 2.0 MB