In [1]:
import pandas as pd

### All School Data

In [2]:
pd.read_csv("../transformed_data/school_infrastructure_and_performance.csv")

,Ano,Código_IBGE,Localização,Aprovação,Reprovação,Abandono,Matrículas,Docentes,Estabelecimentos,Turmas
0,2008,1100015,Rural,--,--,--,0,-,0,0
1,2008,1100023,Rural,--,--,--,0,-,0,0
2,2008,1100049,Rural,--,--,--,0,-,0,0
3,2008,1100056,Rural,--,--,--,0,-,0,0
4,2008,1100064,Rural,77.7,22,0.3,328,30,1,11
...,...,...,...,...,...,...,...,...,...,...
167045,2010,3500600,Rural,NaN,NaN,NaN,0,0,0,0
167046,2010,3501202,Rural,NaN,NaN,NaN,0,0,0,0
167047,2010,3501301,Rural,NaN,NaN,NaN,0,0,0,0
167048,2010,3501400,Rural,NaN,NaN,NaN,0,0,0,0
167049,2010,4101150,Rural,NaN,NaN,NaN,0,0,0,0

## Population and Funding data

In [14]:
pd.read_csv("../transformed_data/funding_and_population.csv")

       Código_IBGE        Município   UF   Ano Population  Valor_Consolidado
0          5200050  Abadia de Goiás   GO  2008       6182         1755502.19
1          5200050  Abadia de Goiás   GO  2009       6301         1880883.04
2          5200050  Abadia de Goiás   GO  2010       6662         2324131.10
3          5200050  Abadia de Goiás   GO  2011       7023         2850424.86
4          5200050  Abadia de Goiás   GO  2012       7164         3758558.91
...            ...              ...  ...   ...        ...                ...
94674      2900504              NaN  NaN  2023        NaN         8180708.01
94675      1505106              NaN  NaN  2007        NaN        11207849.05
94676      1505106              NaN  NaN  2023        NaN        50101089.59
94677      3533809              NaN  NaN  2007        NaN          207323.27
94678      3533809              NaN  NaN  2023        NaN         1113181.64

[94679 rows x 6 columns]

##  Access to Internet

In [15]:
pd.read_csv("../transformed_data/acess_to_internet.csv", sep=";")

     Ano        Regiao  Acesso a internet %
0   2008       Sudeste                   25
1   2008      Nordeste                    7
2   2008           Sul                   20
3   2008         Norte                    7
4   2008  Centro Oeste                   21
..   ...           ...                  ...
70  2022       Sudeste                   82
71  2022      Nordeste                   78
72  2022           Sul                   81
73  2022         Norte                   76
74  2022  Centro Oeste                   83

[75 rows x 3 columns]

## Malnutrition

In [24]:
pd.read_csv("../transformed_data/updated_desnutricao.csv", sep=";")
# names to be corrected

,Ano,Região,Código UF,UF,Código_IBGE,Municipio,Magreza Acentuada,Magreza Acentuada %,Magreza,Magreza %,Eutrofia,Eutofia %,Sobrepeso,Soprepeso %,Obesidade,Obesidade %,Obesidade Grave,Obesidade Grave %,Total
0,2008,CENTRO-OESTE,53,DF,5300108,BRASILIA,107.0,1.69%,229.0,3.62%,4.9,77.56%,818.0,12.95%,210.0,3.32%,54.0,0.85%,6.318
1,2008,CENTRO-OESTE,52,GO,5200050,ABADIA DE GOIAS,2.0,2.33%,5.0,5.81%,60.0,69.77%,13.0,15.12%,6.0,6.98%,0.0,-,86.000
2,2008,CENTRO-OESTE,52,GO,5200100,ABADIANIA,4.0,1.15%,10.0,2.87%,268.0,76.79%,47.0,13.47%,19.0,5.44%,1.0,0.29%,349.000
3,2008,CENTRO-OESTE,52,GO,5200134,ACREUNA,0.0,-,1.0,0.97%,81.0,78.64%,15.0,14.56%,6.0,5.83%,0.0,-,103.000
4,2008,CENTRO-OESTE,52,GO,5200159,ADELANDIA,0.0,-,1.0,1.23%,70.0,86.42%,7.0,8.64%,3.0,3.7%,0.0,-,81.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89115,2023,SUL,42,SC,4219408,WITMARSUM,1.0,0.52%,2.0,1.04%,124.0,64.58%,42.0,21.88%,17.0,8.85%,6.0,3.13%,192.000
89116,2023,SUL,42,SC,4219507,XANXERE,5.0,0.41%,18.0,1.49%,733.0,60.83%,255.0,21.16%,155.0,12.86%,39.0,3.24%,1.205
89117,2023,SUL,42,SC,4219606,XAVANTINA,0.0,-,1.0,0.78%,68.0,53.13%,36.0,28.13%,18.0,14.06%,5.0,3.91%,128.000
89118,2023,SUL,42,SC,4219705,XAXIM,6.0,0.61%,20.0,2.05%,574.0,58.81%,208.0,21.31%,130.0,13.32%,38.0,3.89%,976.000
89119,2023,SUL,42,SC,4219853,ZORTEA,1.0,0.34%,13.0,4.42%,189.0,64.29%,60.0,20.41%,24.0,8.16%,7.0,2.38%,294.000

## Unemployment

In [11]:
pd.read_csv("../transformed_data/unemployement_data.csv")

     UF  Código_UF     Estado Região   Ano Unemployed
0    AC         12       Acre  Norte  2012        8,4
1    AC         12       Acre  Norte  2013      8,975
2    AC         12       Acre  Norte  2014        7,7
3    AC         12       Acre  Norte  2015      8,475
4    AC         12       Acre  Norte  2016     10,875
..   ..        ...        ...    ...   ...        ...
292  TO         17  Tocantins  Norte  2018     10,625
293  TO         17  Tocantins  Norte  2019     10,825
294  TO         17  Tocantins  Norte  2020     11,625
295  TO         17  Tocantins  Norte  2021     13,325
296  TO         17  Tocantins  Norte  2022        6,4

[297 rows x 6 columns]

## Poverty Rate

In [16]:
pd.read_csv("../transformed_data/poverty_data.csv")
## I think IGBE should be deleted

        Estado  Código_UF  UF   Ano  Poverty_Rate
0         Acre         12  AC  2012         47.72
1         Acre         12  AC  2013         45.34
2         Acre         12  AC  2014         44.62
3         Acre         12  AC  2015         44.95
4         Acre         12  AC  2016         49.05
..         ...        ...  ..   ...           ...
265  Tocantins         17  TO  2017         33.47
266  Tocantins         17  TO  2018         32.93
267  Tocantins         17  TO  2019         34.17
268  Tocantins         17  TO  2020         30.19
269  Tocantins         17  TO  2021         33.11

[270 rows x 5 columns]

## GDP Data

In [17]:
pd.read_csv("../transformed_data/gdp_per_capita_data.csv")
## I think IGBE should be deleted
## pivot years from columns to rows

        Estado  Codigo UF  UF  Código_IBGE Região   Ano          PIB
0         Acre         12  AC      1200013  Norte  2000      3864,01
1         Acre         12  AC      1200013  Norte  2001      4309,39
2         Acre         12  AC      1200013  Norte  2002      4887,09
3         Acre         12  AC      1200013  Norte  2003      5502,38
4         Acre         12  AC      1200013  Norte  2004      6415,31
..         ...        ...  ..          ...    ...   ...          ...
562  Tocantins         17  TO      1700251  Norte  2016  20604,58933
563  Tocantins         17  TO      1700251  Norte  2017  22002,49258
564  Tocantins         17  TO      1700251  Norte  2018  22933,07486
565  Tocantins         17  TO      1700251  Norte  2019  25021,80174
566  Tocantins         17  TO      1700251  Norte  2020     27448,43

[567 rows x 7 columns]

## Brazil municipalities, cities and region mapping

In [19]:
pd.read_csv("../raw_data/Tabela_de_Municipios.csv", sep=";").dropna()

,Código_UF,Estado,UF,Código_IBGE,Município,Região
0,11.0,Rondônia,RO,1100015.0,Alta Floresta D'Oeste,Norte
1,11.0,Rondônia,RO,1100023.0,Ariquemes,Norte
2,11.0,Rondônia,RO,1100031.0,Cabixi,Norte
3,11.0,Rondônia,RO,1100049.0,Cacoal,Norte
4,11.0,Rondônia,RO,1100056.0,Cerejeiras,Norte
...,...,...,...,...,...,...
5567,52.0,Goiás,GO,5222005.0,Vianópolis,Centro Oeste
5568,52.0,Goiás,GO,5222054.0,Vicentinópolis,Centro Oeste
5569,52.0,Goiás,GO,5222203.0,Vila Boa,Centro Oeste
5570,52.0,Goiás,GO,5222302.0,Vila Propício,Centro Oeste
5571,53.0,Distrito Federal,DF,5300108.0,Brasília,Centro Oeste