In [1]:
import pandas as pd

### All School Data

In [2]:
pd.read_csv("../transformed_data/school_infrastructure_and_performance.csv")

,Ano,Código_IBGE,Localização,Aprovação,Reprovação,Abandono,Matrículas,Docentes,Estabelecimentos,Turmas
0,2008,1100015,Rural,--,--,--,0,-,0,0
1,2008,1100023,Rural,--,--,--,0,-,0,0
2,2008,1100049,Rural,--,--,--,0,-,0,0
3,2008,1100056,Rural,--,--,--,0,-,0,0
4,2008,1100064,Rural,77.7,22,0.3,328,30,1,11
...,...,...,...,...,...,...,...,...,...,...
167045,2010,3500600,Rural,NaN,NaN,NaN,0,0,0,0
167046,2010,3501202,Rural,NaN,NaN,NaN,0,0,0,0
167047,2010,3501301,Rural,NaN,NaN,NaN,0,0,0,0
167048,2010,3501400,Rural,NaN,NaN,NaN,0,0,0,0
167049,2010,4101150,Rural,NaN,NaN,NaN,0,0,0,0

## Population and Funding data

In [14]:
pd.read_csv("../transformed_data/funding_and_population.csv")

       Código_IBGE        Município   UF   Ano Population  Valor_Consolidado
0          5200050  Abadia de Goiás   GO  2008       6182         1755502.19
1          5200050  Abadia de Goiás   GO  2009       6301         1880883.04
2          5200050  Abadia de Goiás   GO  2010       6662         2324131.10
3          5200050  Abadia de Goiás   GO  2011       7023         2850424.86
4          5200050  Abadia de Goiás   GO  2012       7164         3758558.91
...            ...              ...  ...   ...        ...                ...
94674      2900504              NaN  NaN  2023        NaN         8180708.01
94675      1505106              NaN  NaN  2007        NaN        11207849.05
94676      1505106              NaN  NaN  2023        NaN        50101089.59
94677      3533809              NaN  NaN  2007        NaN          207323.27
94678      3533809              NaN  NaN  2023        NaN         1113181.64

[94679 rows x 6 columns]

##  Access to Internet

In [15]:
pd.read_csv("../transformed_data/acess_to_internet.csv", sep=";")

     Ano        Regiao  Acesso a internet %
0   2008       Sudeste                   25
1   2008      Nordeste                    7
2   2008           Sul                   20
3   2008         Norte                    7
4   2008  Centro Oeste                   21
..   ...           ...                  ...
70  2022       Sudeste                   82
71  2022      Nordeste                   78
72  2022           Sul                   81
73  2022         Norte                   76
74  2022  Centro Oeste                   83

[75 rows x 3 columns]

## Malnutrition

In [6]:
pd.read_csv("../transformed_data/cleaned_Desnutricao.csv", sep=";")
# names to be corrected

,Ano,Região,CODIGO UF,UF,Municipio,Magreza Acentuada,Magreza Acentuada %,Magreza,Magreza %,Eutrofia,Eutofia %,Sobrepeso,Soprepeso %,Obesidade,Obesidade %,Obesidade Grave,Obesidade Grave %,Total
0,2008,CENTRO-OESTE,53,DF,BRASILIA,107.0,1.69%,229.0,3.62%,4.9,77.56%,818.0,12.95%,210.0,3.32%,54.0,0.85%,6.318
1,2008,CENTRO-OESTE,52,GO,ABADIA DE GOIAS,2.0,2.33%,5.0,5.81%,60.0,69.77%,13.0,15.12%,6.0,6.98%,0.0,-,86.000
2,2008,CENTRO-OESTE,52,GO,ABADIANIA,4.0,1.15%,10.0,2.87%,268.0,76.79%,47.0,13.47%,19.0,5.44%,1.0,0.29%,349.000
3,2008,CENTRO-OESTE,52,GO,ACREUNA,0.0,-,1.0,0.97%,81.0,78.64%,15.0,14.56%,6.0,5.83%,0.0,-,103.000
4,2008,CENTRO-OESTE,52,GO,ADELANDIA,0.0,-,1.0,1.23%,70.0,86.42%,7.0,8.64%,3.0,3.7%,0.0,-,81.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89114,2023,SUL,42,SC,WITMARSUM,1.0,0.52%,2.0,1.04%,124.0,64.58%,42.0,21.88%,17.0,8.85%,6.0,3.13%,192.000
89115,2023,SUL,42,SC,XANXERE,5.0,0.41%,18.0,1.49%,733.0,60.83%,255.0,21.16%,155.0,12.86%,39.0,3.24%,1.205
89116,2023,SUL,42,SC,XAVANTINA,0.0,-,1.0,0.78%,68.0,53.13%,36.0,28.13%,18.0,14.06%,5.0,3.91%,128.000
89117,2023,SUL,42,SC,XAXIM,6.0,0.61%,20.0,2.05%,574.0,58.81%,208.0,21.31%,130.0,13.32%,38.0,3.89%,976.000
89118,2023,SUL,42,SC,ZORTEA,1.0,0.34%,13.0,4.42%,189.0,64.29%,60.0,20.41%,24.0,8.16%,7.0,2.38%,294.000

## Unemployment

In [11]:
pd.read_csv("../transformed_data/unemployement_data.csv")

     UF  Código_UF     Estado Região   Ano Unemployed
0    AC         12       Acre  Norte  2012        8,4
1    AC         12       Acre  Norte  2013      8,975
2    AC         12       Acre  Norte  2014        7,7
3    AC         12       Acre  Norte  2015      8,475
4    AC         12       Acre  Norte  2016     10,875
..   ..        ...        ...    ...   ...        ...
292  TO         17  Tocantins  Norte  2018     10,625
293  TO         17  Tocantins  Norte  2019     10,825
294  TO         17  Tocantins  Norte  2020     11,625
295  TO         17  Tocantins  Norte  2021     13,325
296  TO         17  Tocantins  Norte  2022        6,4

[297 rows x 6 columns]

## Poverty Rate

In [16]:
pd.read_csv("../transformed_data/poverty_data.csv")
## I think IGBE should be deleted

        Estado  Código_UF  UF   Ano  Poverty_Rate
0         Acre         12  AC  2012         47.72
1         Acre         12  AC  2013         45.34
2         Acre         12  AC  2014         44.62
3         Acre         12  AC  2015         44.95
4         Acre         12  AC  2016         49.05
..         ...        ...  ..   ...           ...
265  Tocantins         17  TO  2017         33.47
266  Tocantins         17  TO  2018         32.93
267  Tocantins         17  TO  2019         34.17
268  Tocantins         17  TO  2020         30.19
269  Tocantins         17  TO  2021         33.11

[270 rows x 5 columns]

## GDP Data

In [13]:
pd.read_csv("../transformed_data/updated_pib2000-2020.csv", sep=";")
## I think IGBE should be deleted
## pivot years from columns to rows

,Estado,Codigo UF,UF,Código_IBGE,Região,2000,2001,2002,2003,2004,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Acre,12,AC,1200013,Norte,"3864,01","4309,39","4887,09","5502,38","6415,31",...,"11990,35587","13360,7166","14777,17569","17034,14833","16954,05276","16841,50719","17204,21132","17636,88011","17722,41372","18420,26"
1,Alagoas,27,AL,2700102,Nordeste,"2752,32","2971,45","3398,2","3841,93","4373,05",...,"10071,09559","10946,36044","11294,53598","12335,43786","13878,52569","14727,38488","15655,7577","16375,56252","17667,79183","18857,69"
2,Amapá,16,AP,1600055,Norte,"4941,04","5618,06","6372,59","6421,04","6953,76",...,"13749,96974","15933,06032","17365,38188","17845,34485","18079,6569","18333,41014","19407,64869","20247,53243","20688,21064","21431,53"
3,Amazonas,13,AM,1300029,Norte,"5955,35","6223,8","7357,39","8240,36","9778,2",...,"19990,57797","20117,79517","21810,12499","22373,35925","21980,90367","22250,67253","22945,1397","24532,9033","26101,71532","27572,96"
4,Bahia,29,BA,2900108,Nordeste,"3559,47","3866,75","4553,87","5070,25","5835,26",...,"11817,86949","12879,58646","13616,21963","14803,94512","16117,12401","16936,98507","17512,7908","19324,03579","19716,21339","20449,29"
5,Ceará,23,CE,2300101,Nordeste,"3042,41","3250,37","3775,04","4197,42","4689,13",...,"10515,14637","11268,14973","12420,75667","14255,05495","14670,16115","15442,62883","16398,44686","17178,25632","17912,1693","18168,35"
6,Distrito Federal,53,DF,5300108,Centro Oeste,"22658,01","24564,76","26161,33","28817,76","31663,53",...,"59221,86682","61959,35578","63054,407","69216,7987","73970,99071","79114,1942","80515,46577","85661,39366","90742,75039","87016,16"
7,Espírito Santo,32,ES,3200102,Sudeste,"7506,25","7712,61","8356,79","9557,46","12192,48",...,"29877,24244","32657,46017","30545,23766","33148,56033","30628,16942","27496,91864","28234,53319","34493,11972","34177,04837","34065,98"
8,Goiás,52,GO,5200050,Centro Oeste,"5246,42","5846,72","7181,07","8072,55","8888,92",...,"19947,76945","22543,93423","23515,54964","25296,59706","26265,44077","27145,09253","28316,08749","28272,96229","29732,39761","31506,97"
9,Maranhão,21,MA,2100055,Nordeste,"2107,22","2341,82","2662,07","3146,82","3634,8",...,"7846,1346","9009,127144","9963,474468","11216,36677","11366,34626","12267,70154","12791,40401","13955,75381","13757,94316","15027,69"
10,Mato Grosso,51,MT,5100102,Centro Oeste,"5937,87","6369,74","8039,65","10518,81","13700,89",...,"22482,24825","25572,10238","28035,74813","31396,80881","32895,04797","37476,67033","37926,21589","39931,12513","40787,31948","50663,19"
11,Mato Grosso do Sul,50,MS,5000203,Centro Oeste,"5447,73","6229,87","7079,04","8883,09","9599,19",...,"22253,16965","24754,89918","26747,58646","30137,58393","31337,30307","34257,66656","35529,3811","38925,85386","38482,83022","43649,17"
12,Minas Gerais,31,MG,3100104,Sudeste,"5623,47","6140,84","6966,05","8021,35","9451,07",...,"20281,34985","22275,26741","23697,20132","24917,12005","24885,17417","25946,37036","27291,10832","29223,21645","30794,04414","32066,73"
13,Pará,15,PA,1500107,Norte,"3076,43","3519,78","3975,88","4525,42","5311,11",...,"12838,59555","13741,42351","15210,80421","15430,53229","16011,95055","16694,32151","18553,75951","18952,21224","20734,6022","24846,62"
14,Paraíba,25,PB,2500106,Nordeste,"2711,39","3127,7","3557,66","4023,7","4241,02",...,"9787,93286","11136,68279","11847,80566","13422,42055","14133,69468","14778,35668","15500,15564","16107,50902","16919,84189","17402,13"
15,Paraná,41,PR,4100103,Sul,"7228,64","7881,91",9023,"11048,85","12224,52",...,"24459,0689","27001,96796","30323,45656","31410,74403","33768,89849","35739,94233","37231,86037","38772,7417","40788,76949","42366,71"
16,Pernambuco,26,PE,2600054,Nordeste,"3404,64","3776,73","4360,25","4816,13","5341,88",...,"12426,70356","14330,82993","15328,17347","16722,05357","16796,22919","17783,10905","19170,73804","19623,65268","20702,30288","20101,38"
17,Piauí,22,PI,2200053,Nordeste,"2132,3","2252,94","2561,98","3002,04","3328,69",...,"8260,717478","9060,41377","9824,736842","11808,08342","12218,89626","12893,71602","14091,92898","15432,05365","16124,99979","17184,7"
18,Rio de Janeiro,33,RJ,3300100,Sudeste,"9711,07","10447,39","11638,58","12636,14","14830,06",...,"31823,87836","35418,15326","38378,59366","40767,25543","39827,06924","38494,91226","40170,31136","44222,65826","45174,08005","43407,55"
19,Rio Grande do Norte,24,RN,2400109,Nordeste,"3284,31","3674,12","4275,64","4679,6","5329,77",...,"12815,66761","14377,12568","15269,43764","15849,32534","16632,17786","17173,35919","18336,45282","19249,60319","20342,10735","20342,11"
20,Rio Grande do Sul,43,RS,4300001,Sul,"8030,66","8953,43","10134,75","11849,6","12986,65",...,"24695,39508","26701,10658","29764,5509","31927,15943","33961,01992","36219,33532","37381,78684","40362,745","42406,08618","41227,61"
21,Rondônia,11,RO,1100015,Norte,"4309,46","4651,54","5433,73","6697,39","7608,7",...,"17491,59626","18938,68679","18007,84656","19462,61289","20678,23209","22078,455","24098,14856","25554,31246","26497,11534","28722,45"
22,Roraima,14,RR,1400027,Norte,"5476,79","6028,53","6667,26","7660,32","7645,01",...,"15871,95738","16424,01052","18461,8771","19608,40492","20256,30632","21416,98973","23160,87898","23188,91739","23593,83838","25387,77"
23,Santa Catarina,42,SC,4200051,Sul,"8086,07","8946,76","10082,26",11922,"13609,94",...,"27555,30058","30046,3824","32334,04111","36055,8993","36526,27985","37153,99745","39603,46528","42149,29587","45118,41207","48159,24"
24,São Paulo,35,SP,3500105,Sudeste,"11453,79","12316,67","13404,04","14979,51","16399,03",...,"34546,04616","37207,35293","39282,96581","42197,8705","43694,94456","45559,13061","47028,89316","48542,23975","51140,82394","51364,73"
25,Sergipe,28,SE,2800100,Nordeste,"3664,83","4412,5","5121,47","5800,63","6393,6",...,"13928,60906","15563,83268","16093,5454","16882,71331","17190,1977","17158,53068","17792,57964","18442,62553","19441,23228","19583,07"
26,Tocantins,17,TO,1700251,Norte,"3173,22","4087,64","4645,51","5886,21","6605,05",...,"13095,71882","14590,19361","16098,79311","17495,93998","19094,31347","20604,58933","22002,49258","22933,07486","25021,80174","27448,43"

## Brazil municipalities, cities and region mapping

In [ ]:
pd.read_csv("../raw_data/Tabela_de_Municipios.csv", sep=";")